<!--Table-->
<app-headerUser></app-headerUser>
<div class="d-flex justify-content-center">
<table class="table table-striped">

    <!--Table head-->
    <thead>
        <tr>
            <th>Comision</th>
            <th>Materia</th>
            <th>Turno</th>
            <th>Dia</th>
            <th>Profesor</th>
            <th>Estado</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr class="indigo white-text">
            <th scope="row">1123</th>
            <td>Matematica</td>
            <td>Mañana</td>
            <td>Lunes</td>
            <td>Jose Luis Rodriguez</td>
            <td>Aprobada</td>

        </tr>
        <tr>
            <th scope="row">241</th>
            <td>Geografia</td>
            <td>Noche</td>
            <td>Martes</td>
            <td>Carlos Peña</td>
            <td>Final</td>

        </tr>
        <tr class="pink white-text">
            <th scope="row">355</th>
            <td>Finanzas</td>
            <td>Mañana</td>
            <td>Miercoles</td>
            <td>Maria Gonzalez</td>
            <td>Desaprobada</td>

        </tr>
        <tr>
            <th scope="row">4000</th>
            <td>Literatura</td>
            <td>Noche</td>
            <td>Jueves</td>
            <td>Noelia Martinez</td>
            <td>Aprobada</td>
        </tr>
        <tr class="indigo white-text">
            <th scope="row">545</th>
            <td>Ciencia</td>
            <td>Mañana</td>
            <td>Viernes</td>
            <td>Ezequiel Alvarez</td>
            <td>Aprobada</td>
        </tr>
    </tbody>
    <!--Table body-->


</table>
</div>
<!--Table-->