<app-headerUser></app-headerUser>
<div class="d-flex justify-content-center">
<table class="table table-striped">

    <!--Table head-->
    <thead>
        <tr class="text-center">
            <th>Comision</th>
            <th>Materia</th>
            <th>Turno</th>
            <th>Dia</th>
            <th>Cantidad de alumnos</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->

        <tr class="indigo white-text text-center">
            <th scope="row">1123</th>
            <td>Matematica</td>
            <td>Mañana</td>
            <td>Lunes</td>
            <td>30</td>

        </tr>

