<!-- Section: Blog v.2 -->
<app-headerUser></app-headerUser>
<section class="text-center my-5 container">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Materias disponibles</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-3">En este cuatrimestre usted se podrá anotar a las siguientes materias</p>
  <hr>
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://image.freepik.com/vector-gratis/pizarra-matematicas_23-2148178219.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3">Matematicas</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Lunes</strong></h4>
        <!-- Post data -->
        <p>Dictada por <a class="font-weight-bold">Jose Luis Rodriguez</a>,Turno mañana</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" rounded="true" mdbWavesEffect href="agregar/1">Inscribirse</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://image.freepik.com/vector-gratis/profesor-geografia-clase_74855-5512.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold mb-3">Geografia</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Martes</strong></h4>
        <!-- Post data -->
        <p>Dictada por <a class="font-weight-bold">Carlos Peña</a>, Turno noche</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          voluptatum deleniti atque corrupti quos dolores.</p>
        <!-- Read more button -->
        <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect href="agregar/2">Inscribirse</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://image.freepik.com/foto-gratis/contador-calculando-ganancias-graficas-analisis-financiero_74855-4937.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="blue-text">
          <h6 class="font-weight-bold mb-3">Finanzas</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Miercoles</strong></h4>
        <!-- Post data -->
        <p>Dictada por <a class="font-weight-bold">Maria Gonzalez</a>, Turno mañana</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
          quia consequuntur magni dolores eos qui ratione.</p>
        <!-- Read more button -->
        <a mdbBtn color="info" rounded="true" mdbWavesEffect href="agregar/3">Inscribirse</a>
  
      </div>
      <div class="d-flex justify-content-center mt-3">
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://image.freepik.com/vector-gratis/ilustracion-concepto-abstracto-plan-estudios-escuela-programa-educacion-hogar-materias-escolares-k-12-educacion-plan-ensenanza-descripcion-general-plan-estudios-contenido-curso-academico_335657-3490.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold mb-3">Literatura</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Jueves</strong></h4>
        <!-- Post data -->
        <p>Dictada por<a class="font-weight-bold">Noelia Martinez</a>, Turno noche</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
          quia consequuntur magni dolores eos qui ratione.</p>
        <!-- Read more button -->
        <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect href="agregar/3">Inscribirse</a>
  
      </div>
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://image.freepik.com/vector-gratis/cientifica-cabello-largo-gafas_52683-33112.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3">Ciencia</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Viernes</strong></h4>
        <!-- Post data -->
        <p>Dictado por<a class="font-weight-bold">Ezequiel Alvarez</a>, Turno mañana</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
          quia consequuntur magni dolores eos qui ratione.</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" rounded="true" mdbWavesEffect href="agregar/4">Inscribirse</a>
  
      </div>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.2 -->