<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black mb-3" >

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand " href="home">UNLAM</a>
    </mdb-navbar-brand>
    
    <!-- Collapsible content -->

        
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <button mdbBtn type="button" color="white" routerLink="/inscripciones" routerLinkActive="active">Lista de materias</button>
        </li>
        <li class="nav-item">
            <button mdbBtn type="button" color="pink"routerLinkActive="active" (click)="logout()">Cerrar Sesión</button>
        </li>

      </ul>
      <!-- Links -->

    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->